name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.12"
        enable-cache: true

    - name: Install dependencies
      run: uv sync --dev --locked

    - name: Test with pytest
      run: uv run pytest -v

    - name: Run coverage
      run: uv run coverage run -m pytest

    - name: Generate coverage report
      run: uv run coverage report -m
